<div class="form-group">
	<div class="input-group form-group">
		<div class="input-group-prepend">
			<label for="rules" class="input-group-text">Rules</label>
		</div>
		<button class="btn btn-outline-secondary" type="button" onclick="addRule()">+</button>
	</div>
	<ol id="rules"></ol>
</div>
<div class="form-group">
	<div class="form-group">
		<div class="input-group-prepend">
			<label class="input-group-text">Price money</label>
		</div>
	</div>
	<ul>
		<li class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<label class="input-group-text" for="first">First</label>
				</div>
				<input type="number" class="form-control" id="first">
			</div>
		</li>
		<li class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<label class="input-group-text" for="second">Second</label>
				</div>
				<input type="number" class="form-control" id="second">
			</div>
		</li>
		<li class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<label class="input-group-text" for="third">Third</label>
				</div>
				<input type="number" class="form-control" id="third">
			</div>
		</li>
	</ul>
</div>
<script>
	events = [];
	editEvent = (ind = null) => {
		event = (ind != null) ? events[ind] : {};
		$("#_id").val(event._id || '')
		$("#name").val(event.name || '');
		$("#description").val(event.description || '');
		$("#first").val((event.price_money && event.price_money.first) || '');
		$("#second").val((event.price_money && event.price_money.second) || '');
		$("#third").val((event.price_money && event.price_money.third) || '');
		$("#time").val(event.time || '');
		$("#venue").val(event.venue || '');
		$("#rules").html("");
		if (event.rules) {
			event.rules.forEach(rule => {
				addRule(rule);
			});
		} else {
			addRule();
		}
		$('.events-tab').hide();
		$('.edit-event').fadeIn(1000);
	}
	rulesCount = 0;
	(addRule = (rule = "") => {
		rulesCount++;
		$("#rules").append(`
				<li id="rule-${rulesCount}">
				<div class="input-group form-group">
				<input type="text" class="form-control" name="rules" value="${rule}">
				<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" onclick=remRule("rule-${rulesCount}")>X</button>
				</div>
				</div>
				</li>`);
	})();
	remRule = (id) => {
		$(`#${id}`).remove();
	}
	$('form').submit((e) => {
		e.preventDefault();
		data = {
			'_id': $("#_id").val(),
			'name': $('#name').val(),
			'description': $('#description').val(),
			'price_money': {
				'first': $("#first").val(),
				'second': $("#second").val(),
				'third': $("#third").val(),
			},
			'time': $('#time').val(),
			'venue': $('#venue').val(),
			'rules': $("input[name='rules']").map(function () { return $(this).val(); }).get(),
		};
		console.log(data)
		$.ajax({
			method: 'POST',
			url: '<%- data.section_code %>/save',
			data: data,
		}).done((res) => {
			if (res.code == 0) {
				location.replace = "/";
			}
			else if (res.code == 1) {
				$('.alert .message').html(res.message);
				$('.alert').addClass('alert-success').show('slow');
				back();
				getEvents();
			}
		})
	})
</script>